*{
    margin: 0px;
    padding: 0px;
}
#container{
}
#nav{
    border: 1px solid blue;
    padding: 10px 5px;
}
#slider{
    border: 1px solid red;
    min-height: 200px;
}
#left{
    border: 1px solid green;
    width: 20%;
}
#body{
    
}